Inter-|   Receive                                                |  Transmit
 face |bytes    packets errs drop fifo frame compressed multicast|bytes    packets errs drop fifo colls carrier compressed
    lo: 57104446  113562    0    0    0     0          0         0 57104446  113562    0    0    0     0       0          0
enp1s0: 889982190  482954    0 11506    0     0          0         0 158007152  297426    0    0    0     0       0          0
