MemTotal:        8127836 kB
MemFree:         2173832 kB
MemAvailable:    5835704 kB
Buffers:          132116 kB
Cached:          3671556 kB
SwapCached:           64 kB
Active:          2173056 kB
Inactive:        3227516 kB
Active(anon):    1225244 kB
Inactive(anon):   386396 kB
Active(file):     947812 kB
Inactive(file):  2841120 kB
Unevictable:        7208 kB
Mlocked:             120 kB
SwapTotal:       4194300 kB
SwapFree:        4194236 kB
Zswap:                 0 kB
Zswapped:              0 kB
Dirty:               164 kB
Writeback:             0 kB
AnonPages:       1604232 kB
Mapped:           454076 kB
Shmem:             14892 kB
KReclaimable:     182652 kB
Slab:             397000 kB
SReclaimable:     182652 kB
SUnreclaim:       214348 kB
KernelStack:       12192 kB
PageTables:        38752 kB
SecPageTables:         0 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     8258216 kB
Committed_AS:    5024796 kB
VmallocTotal:   34359738367 kB
VmallocUsed:       30644 kB
VmallocChunk:          0 kB
Percpu:            10608 kB
HardwareCorrupted:     0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:    571392 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
Unaccepted:            0 kB
Balloon:               0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:      153452 kB
DirectMap2M:     4040704 kB
DirectMap1G:     6291456 kB
